/* client/src/styles/HomePage.css */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Google Sans", "Product Sans", sans-serif;
  padding: 30px;
  background: #ffffff;
}

.page-header {
  text-align: center;
  margin-bottom: 40px;
}

.main-heading {
  color: #3c4043;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 15px;
}

.sub-heading {
  color: #5f6368;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.learn-more-link {
  color: #1a73e8;
  font-size: 1em;
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 50px;
  width: 100%;
  max-width: 1100px;
}

.data-card {
  background-color: #fff;
  border-radius: 10px;
  border: 0.5mm solid #dadce0;
  overflow: hidden;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: transform 0.3s ease;
}

.data-card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto 20px;
}

.card-title {
  color: #3c4043;
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-subtitle {
  color: #5f6368;
  font-size: 1em;
  margin-bottom: 15px;
}

.card-description {
  color: #5f6368;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.card-actions {
  display: flex;
  width: 100%;
  gap: 12px;
  margin-top: auto;
  padding-top: 5px;
  flex-direction: column;
}

.card-button {
  background-color: #fff;
  border: 0px;
  color: #1a73e8;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: auto;
  text-align: center;
  align-self: flex-start;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.card-button:hover {
  background-color: #f8f9fa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
